* {
  margin: 0;
  padding: 0;
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.profile-img,
.dog-sitter-card,
.star-rating,
.btn-container,
h1,
p,
h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding: 1rem;
}

.block-txt {
  display: block;
}

.dog-sitter-card {
  max-width: 50%;
  margin: auto;
  border-radius: 30px;
  background: var(--primary);
  border: solid 4px var(--primary-shade-2);
  padding: 1rem;
}

.profile-img {
  width: 1000px;
}

.rating-container {
  padding: 2rem;
}

.star-rating {
  padding: 1rem;
}

h4 {
  background-color: var(--primary);
  padding: 1rem; 
}

.choose-dog-container {
  display: flex;
}

.dogs-container {
  padding: 0rem 1rem 1rem 1rem;
}

.allergy-info-container {
  background-color: var(--primary-card);
}

.checkmark-img,
.warning-img {
  padding: 1rem;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.info-container {
  background-color: var(--white);
}

.dog-allergy-container {
  display: flex;
}

.dog-allergy-container p {
  padding: 0.3rem;
}

.allergy-info-txt {
  display: flex;
}

.dog-allergy-info {
  align-self: center;
}

form {
  border: solid 4px var(--primary-shade-2);
  border-radius: 2rem;
  max-width: 80%;
  margin:  auto auto 2rem auto;
  background-color: var(--primary-light);
  overflow: hidden;
}

.form-container {
  padding: 2rem;
}

.date-container,
.message-container,
.btn-container {
  padding: 1rem 0rem;
}

.calender{
  padding: 1rem; 
  border-radius: 1rem;
  border: none; 
  font-family: var(--font-body);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  color: var(--muted);
}

.btn-container {
  gap: 4rem; 
}

.pawprint-line {
  display: block;
  margin: auto;
  max-width: 90%;
}

#message-input {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 1rem; 
  border: none; 
}
