.pawprint-line {
  display: block;
  margin: auto;
  max-width: 90%;
}

.user-container,
.dog-container {
  background-color: var(--primary);
  border-radius: 2rem;
  max-width: 80%;
  margin: auto auto 2rem auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: auto;
}

.btn-container {
  padding: 10px;
  gap: 5rem;
}

/* PROFIL INFO */
.info-container {
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 50%;
  gap: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-container img {
  max-width: 20rem;
  border: solid 2px var(--text);
  border-radius: 100%;
}

.user-info p {
  font-weight: var(--fw-bold);
}

/* DOG CARD */
.dog-card {
  background-color: var(--primary-card);
  border-radius: 2rem;
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.35);
}

.dog-card-info {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  padding: 1rem;
}

.dog-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* BOOKING AND REQUEST*/
.booking-request-section {
  border: 2px solid var(--primary-shade-2);
  border-radius: 2rem;
  max-width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}
.booking-request-section .btn-container {
  gap: 1rem;
}
.booking-request-section .btn {
  height: 4rem;
  width: 20rem;
  margin: 1rem;
  position: relative;
}

/* OVERLAYS */
.p-modal {
  width: min(42rem, calc(100% - 2rem));
  background-color: var(--primary);
  border-radius: 2rem;
  inset: 0;
  z-index: 9999;
  position: relative;
  margin: 4.5rem auto 0;
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.35);
}

/* ADD DOG */
.add-dog-modal {
  display: flex;
}
.add-dog-modal .image-container {
  display: flex;
  flex-direction: column;
}

.add-dog-modal .image-container img {
  width: 15rem;
  border-radius: 100%;
  border: solid 2px var(--text);
}

.add-dog-modal .dog-info {
  display: block;
}

.add-dog-modal .btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ERROR ADD/EDIT */
/* SUCCESS ADD/EDIT */
/* EDIT DOG */
/* REMOVE DOG */
/* ACCEPT REMOVE */
/* REMOVE MSG */
/* EDIT PROFILE */
/* DELETE PROFILE */
