.pawprint-line {
  display: block;
  margin: auto;
  max-width: 90%;
}

.user-container,
.dog-container {
  background-color: var(--primary);
  border-radius: 2rem;
  max-width: 80%;
  margin: auto auto 2rem auto;
}

.btn-container,
h1,
h2 {
  display: flex;
  justify-content: center;
}

.btn-container {
  padding: 10px;
  margin-bottom: 50px;
  gap: 5rem;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.info-container img {
  max-width: 20rem;
  border: solid 2px var(--text);
  border-radius: 100%;
}

.user-info p {
  font-weight: var(--fw-bold);
}

.dog-card {
  background-color: var(--primary-card);
  border-radius: 2rem;
}

.dog-card-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dog-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dog-card-info .btn-container {
  padding: 0;
}
